[Desktop Entry]
Name=Lyra-dark
Comment=Lyra-dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.yeyushengfan258.Lyra-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/Lyra-dark-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1460993,kns://plasma-themes.knsrc/api.kde-look.org/1460998,kns://aurorae.knsrc/api.kde-look.org/1460995,kns://icons.knsrc/api.kde-look.org/1460991,kns://wallpaper.knsrc/api.kde-look.org/1481617,kns://sddmtheme.knsrc/api.kde-look.org/1460996,kns://xcursor.knsrc/api.kde-look.org/1457884
X-Plasma-MainScript=defaults
